table {
  max-width: 100%;
  border: solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
tr {
  padding: 0 4px;
}
th,
td {
  padding: 4px;
}
a {
  font-style: bold;
  color: blue;
  text-decoration: none;
}
option {
  font: normal 18px/1.6 system-ui, sans-serif;
  text-shadow: 0 1px 1px hsl(0 0% 0% / 20%);
}
@import url("https://rsms.me/inter/inter-ui.css");
::selection {
  background: #2d2f36;
}
::-webkit-selection {
  background: #2d2f36;
}
::-moz-selection {
  background: #2d2f36;
}
body {
  background: white;
  font-family: "Inter UI", sans-serif;
  margin: 0;
  padding: 20px;
}
.page {
  background: #e2e2e5;
  /* display: flex; */
  flex-direction: column;
  /* position: absolute; */
  place-content: center;
  width: calc(100% - 40px);
}
h1 {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  /* display: flex; */
  margin: 0 auto;
  width: 95%;
  padding-bottom: 10px;
}
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    width: 320px;
  }
}
h1 {
  margin: 0px;
  width: 80%;
  display: inline-block;
}
#logout {
  margin-top: 12px;
  float: right;
}
